* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    
    
}

body {
    height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
  }

h2 {
    margin-top: 0;
    margin-bottom: 5vmin; 
    margin-left: 20vmin;
    margin-right: 20vmin;
    text-align: center;
  }

main {

    display: grid;
    grid-template-columns: 20vmin 20vmin 20vmin;
    grid-template-rows: 20vmin 20vmin 20vmin;
    /* vmin - a responsive CSS unit that will calculate a percentage of the smallest side of the current display */
    background-color: #9c9999;
    border-radius: 3vmin;
    
}


div {
    border: 1vmin solid white; 
    border-radius: 10vmin;
    width: 80%;
    height: 80%;
    padding: 1vmin; 
    justify-self: center;
    align-self: center;
    cursor: pointer;
}

button {
    margin: 2vmin;
}

.disabled-div {
    pointer-events: none;
  }

  